/* p {
    color: red;
    background-color: brown;
    font-size: 45px;
}

h1 {
    color: blue;
    background-color: yellow;
}

body {
    color: bisque;
    background-color: aquamarine;
} */


/*----------------------*/

/* p {
    color: bisque;
    background-color: black;
    font-size: 18px;
}

h1 {
    color: aqua;
    background-color: blueviolet;
    font-size: 32px;
} */
h1 {
    color: orange;
    background-color: azure;
    font-size: 30px;
}

p {
    color: green;
}

span {
    color: blue;
}